.thumbnail img {
	width: 100%;
}
.thumbnail{
	padding: 0;
}
.thumbnail .caption-full {
	padding: 9px;
}
body{
	padding-top: 60px;
	background: #ecf0f1;
}
.delete_form{
	display: inline;
}
.blockbtn {
  display: block;
  width: 60%;
  border: none;
  /* background-color: #4CAF50; */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
	margin-left: 50px;
}